<h3> all homusik ratio matches: </h3>

<h2><%= link_to("calculate a homusik sync ratio", new_ratio_path) %></h2>

<ul>
<% @ratios.each do |ratio| %>
 <li><p><%= link_to(ratio.info, ratio_path(ratio)) %></p>
   <p><%= "searched by: #{ratio.user.username unless ratio.user.blank?}" %></p>
   <p><%= button_to "delete", ratio_path(ratio), method: :delete %></p>
 </li>
<% end %>
</ul>
