<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1> ~ homusik ~ </h1>
    <h3> where are <em>you</em> listening to? </h3>
  </body>
  <%= link_to("~ all homusik listeners ~", users_path) %>
  <br> </br>
  <%= link_to("~ who's listening to where ~", ratios_path) %>
  <br> </br>
  <% if !current_user %>
  <%= link_to("sign up for homusik!", new_user_path) %>
  <% end %>
</html>
